{{! Footer }}
<footer class="glassworks-footer">
  <div class="footer-container">


    {{! Location }}
    <div class="footer-location">
      <h5 id="location"><a href="/plan-your-visit/#location">Location</a></h5>
      <p><strong>New Orleans Glassworks &amp; Printmaking Studio</strong>
        <br /> 727 Magazine Street
        <br /> New Orleans, Louisiana 70130</p>
      <p>Housed in a restored 1800's brick building comprehending over 25,000 square feet, the New Orleans GlassWorks &amp; Printmaking Studio is located in the American Sector on the celebrated Magazine Street, <a href="/plan-your-visit/#location">between Girod and Julia Streets,</a> less than two blocks from the St. Charles streetcar line and the National World War II Museum.</p>
    </div>

    {{! Hours }}
    <div class="footer-hours">
      <h5 id="hours"><a href="/plan-your-visit/#hours">Hours</a></h5>
      <div id="footer-hours-table">
        <p>
          Monday    <span style="float: right;">10a&ndash;5p</span><br />
          Tuesday   <span style="float: right;">10a&ndash;5p</span><br />
          Wednesday <span style="float: right;">10a&ndash;5p</span><br />
          Thursday  <span style="float: right;">10a&ndash;5p</span><br />
          Friday    <span style="float: right;">10a&ndash;5p</span><br />
          Saturday  <span style="float: right;">10a&ndash;5p</span><br />
          Sunday    <span style="float: right;">Closed
        </p>
      </div>
      <p id="footer-hours-text">
        Hours may vary during <a href="/plan-your-visit/#hours">holidays.</a> Please inquire via our <a href="/contact-us">Contact Form</a> before planning your visit.
      </p>
    </div>


    {{! Admission }}
    <div class="footer-admission">
      <h5 id="admission"><a href="/plan-your-visit/#admission">Admission</a></h5>
      <p><strong>FREE</strong> admission for all visitors to explore:
        <ul>
          <li>Open-working studios</li>
          <li>Hands-on daily demonstrations</li>
          <li>Tax-free gallery</li>
        </ul>
      </p>
    </div>

    {{! Social Media }}
    <div class="footer-social">
      <h5 id="social">Subscribe</h5>

      {{! MailChimp Signup Form }}
      <div class="ui form">

        {{! Begin MailChimp Embed }}
        <div id="mc_embed_signup">
          <form action="http://neworleansglassworks.us6.list-manage.com/subscribe/post?u=9aa4d2efce35ea54b15c2da75&amp;id=4fca6c51aa" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
            <div id="mc_embed_signup_scroll">

              <p><strong>Join our mailing list.</strong></p>

              <!-- MailChimp Form Inputs -->
              <div class="ui big field input" id="subscribe-input">
                <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="name@email.com" required>
              </div>
              <div style="position: absolute; left: -5000px;">
                <input type="text" name="b_9aa4d2efce35ea54b15c2da75_4fca6c51aa" tabindex="-1" value="">
              </div>
              <div class="field">
                <input type="submit" name="subscribe" value="Submit" id="mc-embedded-subscribe" class="ui medium red button">
              </div>

              <div class="ui divider"></div>
              <p>Sign up to stay abreast of new workshops, events, and announcements. Unsubscribe any time.</p>

            </div>
          </form>
        </div><!--End mc_embed_signup-->
      </div><!-- .segment -->
    </div><!-- .footer-social -->

{{!-- Comment out pursuant to reiteration of Footer
    {{! Contact }}
    <div class="footer-social">
      <h5 id="contact"><a href="{{@blog.url}}/contact">Contact Us</a></h5>
      <p>Whereas our offices receive over one hundred inquiries per day, <strong><em>please format the subject heading of your email as follows:</em></strong></p>
      <p>Lastname, Firstname | re: Nature of Inquiry | youremail@address.com | (504) 123-4567</p>
      <p>Addressed to:
        <a mailto:"neworleansglassworks@gmail.com">neworleansglassworks@gmail.com</a>
      </p>
      <p>Such will ensure a prompt reply by one of our staff to your message. Thank you!</p>
    </div>
 --}}

  </div><!-- .footer-container -->

</footer>