//------------------------------//
             Content
//------------------------------//

main
  //- HEADSTONE
  div.headstone
    div.epigraph-verso
      h1.responsive_headline
        | Jonathan Milam Walters
      h1#responsive_headline
        | Writer, Full-Stack Developer, Artist
    div.epigraph-recto
      img(class='ui fluid circular image', src='assets/img/wireframe/square-image.png')

  section
    div.page-container
      h1 Jonathan Milam Walters
      p.
        A full page menu, that replaces the current content by pushing it off the screen.
