//- Navigation Trigger
| <a href="#psychopomp-navigation" class="navigation-trigger">Menu
|   <span class="navigation-icon"></span>
|   <svg x="0px" y="0px" width="54px" height="54px" viewBox="0 0 54 54">
|     <circle fill="transparent" stroke="#656e79" stroke-width="1" cx="27" cy="27" r="25" stroke-dasharray="157 157" stroke-dashoffset="157"></circle>
|   </svg>
| </a>

//- Full-Screen Navigation
#psychopomp-navigation.psychopomp-navigation
  .navigation-wrapper
    //- Navigation Menu
    .half-block
      h2 Jonathan Milam Walters
      nav
        ul.navigation-menu
          li
            a.selected(href='#professional-experience') Professional Experience
          li
            a(href='#portfolio') Portfolio
          li
            a(href='#proficiencies') Proficiencies
          li
            a(href='#biography') Ecce Homo
          li
            a(href='#references') References
    .half-block
      address
        ul.contact-information
          li
            a(href='mailto:jonathan@psychopompllc.com') jonathan@psychopompllc.com
          li +1 504 444 2513
          li
            span 923 Constance Street
            span Suite 211
            span New Orleans, Louisiana 70130

