<a href="#psychopomp-navigation" class="navigation-trigger">Menu
  <span class="navigation-icon"></span>
  <svg x="0px" y="0px" width="54px" height="54px" viewBox="0 0 54 54">
    <circle fill="transparent" stroke="#656e79" stroke-width="1" cx="27" cy="27" r="25" stroke-dasharray="157 157" stroke-dashoffset="157"></circle>
  </svg>
</a>
<div id="psychopomp-navigation" class="psychopomp-navigation">
    <div class="navigation-wrapper">
        <div class="half-block">
            <h2>Jonathan Milam Walters</h2>
            <nav>
                <ul class="navigation-menu">
                    <li><a href="#professional-experience" class="selected">Professional Experience</a>
                    </li>
                    <li><a href="#portfolio">Portfolio</a>
                    </li>
                    <li><a href="#proficiencies">Proficiencies</a>
                    </li>
                    <li><a href="#biography">Ecce Homo</a>
                    </li>
                    <li><a href="#references">References</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="half-block"><address><ul class="contact-information"><li><a href="mailto:jonathan@psychopompllc.com">jonathan@psychopompllc.com</a></li><li>+1 504 444 2513</li><li><span>923 Constance Street</span><span>Suite 211</span><span>New Orleans, Louisiana 70130</span></li></ul></address>
        </div>
    </div>
</div>
